<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146774338056-hkh8eq71r9fra4ohii7neje0mu2jsa65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146774338056-hkh8eq71r9fra4ohii7neje0mu2jsa65</string>
	<key>API_KEY</key>
	<string>AIzaSyCpNr0_ZQ1Qy_DNIfI1Aq7ZXVy7qcAx_Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>146774338056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.go.otit.handbook</string>
	<key>PROJECT_ID</key>
	<string>tit-handbook-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>tit-handbook-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146774338056:ios:72fd966154ac337c1a7fbd</string>
</dict>
</plist>